In [18]:
import pandas as pd

In [19]:
data = pd.read_csv('thanksgiving.csv', encoding = 'Latin-1')

In [20]:
data.head(5)

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,4337954960,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,None,NaN,...,Yes,No,No,No,NaN,Suburban,18 - 29,Male,"$75,000 to $99,999",Middle Atlantic
1,4337951949,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Other (please specify),Homemade cranberry gelatin ring,...,No,No,Yes,No,NaN,Rural,18 - 29,Female,"$50,000 to $74,999",East South Central
2,4337935621,Yes,Turkey,NaN,Roasted,NaN,Rice-based,NaN,Homemade,NaN,...,Yes,Yes,Yes,No,NaN,Suburban,18 - 29,Male,"$0 to $9,999",Mountain
3,4337933040,Yes,Turkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$200,000 and up",Pacific
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific

In [21]:
#data.columns

In [22]:
celebrating_tg = data[data['Do you celebrate Thanksgiving?'] == 'Yes']

In [23]:
#celebrating_tg[celebrating_tg['Do you celebrate Thanksgiving?'] != 'Yes']

In [24]:
data['Do you celebrate Thanksgiving?'].value_counts()

Yes    980
No      78
Name: Do you celebrate Thanksgiving?, dtype: int64

In [25]:
celebrating_tg['What is typically the main dish at your Thanksgiving dinner?'].value_counts()

Turkey                    859
Other (please specify)     35
Ham/Pork                   29
Tofurkey                   20
Chicken                    12
Roast beef                 11
I don't know                5
Turducken                   3
Name: What is typically the main dish at your Thanksgiving dinner?, dtype: int64

In [26]:
celebrating_tg.iloc[:,2:3].head(5)

  What is typically the main dish at your Thanksgiving dinner?
0                                             Turkey
1                                             Turkey
2                                             Turkey
3                                             Turkey
4                                           Tofurkey

In [27]:
#only_tofurkey = celebrating_tg.iloc[:,2:3] == 'Tofurkey'

In [28]:
#celebrating_tg[only_tofurkey == True]
only_tofurkey = celebrating_tg[celebrating_tg['What is typically the main dish at your Thanksgiving dinner?'] == 'Tofurkey']

In [29]:
print(only_tofurkey.shape)
only_tofurkey.head(2)

(20, 65)

,RespondentID,Do you celebrate Thanksgiving?,What is typically the main dish at your Thanksgiving dinner?,What is typically the main dish at your Thanksgiving dinner? - Other (please specify),How is the main dish typically cooked?,How is the main dish typically cooked? - Other (please specify),What kind of stuffing/dressing do you typically have?,What kind of stuffing/dressing do you typically have? - Other (please specify),What type of cranberry saucedo you typically have?,What type of cranberry saucedo you typically have? - Other (please specify),...,Have you ever tried to meet up with hometown friends on Thanksgiving night?,"Have you ever attended a ""Friendsgiving?""",Will you shop any Black Friday sales on Thanksgiving Day?,Do you work in retail?,Will you employer make you work on Black Friday?,How would you describe where you live?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
4,4337931983,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Canned,NaN,...,Yes,No,No,No,NaN,Urban,30 - 44,Male,"$100,000 to $124,999",Pacific
33,4337771439,Yes,Tofurkey,NaN,Baked,NaN,Bread-based,NaN,Homemade,NaN,...,Yes,No,No,No,NaN,Suburban,30 - 44,Male,"$50,000 to $74,999",Middle Atlantic

In [30]:
only_tofurkey['Do you typically have gravy?'].value_counts()

Yes    12
No      8
Name: Do you typically have gravy?, dtype: int64

In [31]:
#pd.isnull(only_tofurkey['Do you typically have gravy?'])

In [32]:
apple_isnull = pd.isnull(celebrating_tg['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Apple'])

In [33]:
pumpkin_isnull = pd.isnull(celebrating_tg['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pumpkin'])

In [34]:
pecan_isnull = pd.isnull(celebrating_tg['Which type of pie is typically served at your Thanksgiving dinner? Please select all that apply. - Pecan'])

In [35]:
ate_pies = apple_isnull & pumpkin_isnull & pecan_isnull

In [36]:
ate_pies.value_counts()

False    876
True     104
dtype: int64

In [37]:
def format_age(column):
    if pd.isnull(column):
        return None
    else: return int(column[0:2])

In [38]:
data['int_age'] = data['Age'].apply(format_age)

In [39]:
data['int_age'].describe()

count    1025.000000
mean       39.383415
std        15.398493
min        18.000000
25%        30.000000
50%        45.000000
75%        60.000000
max        60.000000
Name: int_age, dtype: float64

In [40]:
data['How much total combined money did all members of your HOUSEHOLD earn last year?'].value_counts()

$25,000 to $49,999      180
Prefer not to answer    136
$50,000 to $74,999      135
$75,000 to $99,999      133
$100,000 to $124,999    111
$200,000 and up          80
$10,000 to $24,999       68
$0 to $9,999             66
$125,000 to $149,999     49
$150,000 to $174,999     40
$175,000 to $199,999     27
Name: How much total combined money did all members of your HOUSEHOLD earn last year?, dtype: int64

In [41]:
def format_income(column):
    if pd.isnull(column):
        return None
    elif column.startswith('Prefer'):
        return None
    else: return int(column.split( )[0].replace('$','').replace(',',''))

In [42]:
data['int_income'] = data['How much total combined money did all members of your HOUSEHOLD earn last year?'].apply(format_income)

In [43]:
data['int_income'].value_counts()

25000.0     180
50000.0     135
75000.0     133
100000.0    111
200000.0     80
10000.0      68
0.0          66
125000.0     49
150000.0     40
175000.0     27
Name: int_income, dtype: int64

In [44]:
data['int_income'].describe()

count       889.000000
mean      74077.615298
std       59360.742902
min           0.000000
25%       25000.000000
50%       50000.000000
75%      100000.000000
max      200000.000000
Name: int_income, dtype: float64

In [45]:
import numpy as np
data.pivot_table(values = 'int_income', index = 'How far will you travel for Thanksgiving?',aggfunc = np.mean)

How far will you travel for Thanksgiving?
Thanksgiving is happening at my home--I won't travel at all                         82060.518732
Thanksgiving is local--it will take place in the town I live in                     68164.556962
Thanksgiving is out of town and far away--I have to drive several hours or fly      89928.571429
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    68857.142857
Name: int_income, dtype: float64

In [46]:
data[data['int_income'] < 150000].shape[0]

742

In [47]:
data[data['int_income'] < 150000]['How far will you travel for Thanksgiving?'].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         281
Thanksgiving is local--it will take place in the town I live in                     203
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    150
Thanksgiving is out of town and far away--I have to drive several hours or fly       55
Name: How far will you travel for Thanksgiving?, dtype: int64

In [48]:
data[data['int_income'] >= 150000]['How far will you travel for Thanksgiving?'].value_counts()

Thanksgiving is happening at my home--I won't travel at all                         66
Thanksgiving is local--it will take place in the town I live in                     34
Thanksgiving is out of town but not too far--it's a drive of a few hours or less    25
Thanksgiving is out of town and far away--I have to drive several hours or fly      15
Name: How far will you travel for Thanksgiving?, dtype: int64

In [49]:
data.pivot_table(index = 'Have you ever tried to meet up with hometown friends on Thanksgiving night?',columns = 'Have you ever attended a "Friendsgiving?"',values = 'int_age')

Have you ever attended a "Friendsgiving?"                  No        Yes
Have you ever tried to meet up with hometown fr...
No                                                  42.283702  37.010526
Yes                                                 41.475410  33.976744

In [50]:
data.pivot_table(index = ['Have you ever tried to meet up with hometown friends on Thanksgiving night?','Have you ever attended a "Friendsgiving?"'], values = 'int_income' )

Have you ever tried to meet up with hometown friends on Thanksgiving night?  Have you ever attended a "Friendsgiving?"
No                                                                           No                                           78914.549654
                                                                             Yes                                          72894.736842
Yes                                                                          No                                           78750.000000
                                                                             Yes                                          66019.736842
Name: int_income, dtype: float64

In [51]:
data.pivot_table(index = ['Have you ever tried to meet up with hometown friends on Thanksgiving night?'], values = 'int_income' )

Have you ever tried to meet up with hometown friends on Thanksgiving night?
No     78015.717092
Yes    72703.125000
Name: int_income, dtype: float64

In [52]:
data.pivot_table(index = ['Have you ever attended a "Friendsgiving?"'], values = 'int_income' )

Have you ever attended a "Friendsgiving?"
No     78868.552413
Yes    68311.403509
Name: int_income, dtype: float64